body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #9c3af3, #130078);
}

/* Header */
.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  font-size: 26px;
  background: linear-gradient(135deg, #bb72f6, #2108b5);
  color: #FDFAFF;
  padding: 8px;
  border-radius: 8px;
}

.logo-text {
  font-weight: bold;
  font-size: 20px;
  color: #3E006A;
}

.topbar-right {
  padding: 70px;
}

.topbar-right span {
  margin-left: 30px;
  font-size: 16px;
  color: #3E006A;
}

/* Hero section */
.hero {
  margin-top: 60px;
  text-align: center;
  padding: 80px 20px 150px;
  color: white;
  background: linear-gradient(135deg, #9c3af3, #130078);
}

.hero-icon {
  font-size: 50px;
  margin-bottom: 20px;
}

.hero-title {
  font-size: 36px;
  font-weight: normal;
}

.hero-subtitle {
  margin-top: -5px;
  opacity: 0.9;
}

/* Search bar */
.search-box {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 50%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field label {
  font-size: 14px;
  font-weight: bold;
  color: #444;
}

.field input {
  width: 90%;
  margin: 0 auto;
  display: block;
  padding: 14px 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 6px;
  font-size: 16px;
}

.search-button {
  width: 90%;
  margin: 0 auto;
  background: linear-gradient(90deg, #9c3af3, #130078);
  color: white;
  padding: 15px 0;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
}

/* Divider linje */
.divider {
  width: 70%;
  margin: 40px auto;
  border-top: 1px solid
}

/* Info text */
.stats {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin-top: 40px;
}

.stat h2 {
  font-size: 32px;
  margin: 0;
  font-weight: normal;
}

.stat p {
  margin: 0;
  opacity: 0.8;
}

/* Footer */
.footer {
  background: #0c0c14;
  color: white;
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  gap: 20px;
  width: 50%;
}

 p {
   font-weight: lighter;
 }

.footer-icon {
  text-align: center;
  font-size: 26px;
  background: linear-gradient(135deg, #bb72f6, #2108b5);
  color: #FDFAFF;
  padding: 8px;
  border-radius: 8px;
  width: 42px;
  height: 42px;
  line-height: 42px;

  .footer-right h4 {
    margin-top: 0;
  }

  .footer-right p {
    margin: 6px 0;
  }
}

/* Resultat låttext */
.lyrics-box {
  width: 70%;
  margin: 40px auto 0;
  padding: 30px;
  background: #ffffff;
  border-radius: 20px;
  font-size: 18px;
  color: #222;
  display: none;
  white-space: pre-wrap;
  line-height: 1.6;
}
